@media screen and (max-width: 555px) {
  .hero-text h1 {
    padding: 10px 20px;
  }
  .hero-text p {
    font-size: 1.1rem;
    padding: 0 0 2rem;
  }
  .hero-text .show {
    padding: 0.6rem 0.1rem;
    border-radius: 6px;
    font-size: 1rem;
    background-color: red;
    /* itu back colornya buat cek media nya berfungsi ato nda */
  }
}
