.NavbarItems {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  /* bagian height mending atur sendrii aja pake px */
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
}

.navbar-log {
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 15px;
  list-style: none;
  align-items: center;
}
.nav-links {
  text-decoration: none;
  color: #222;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}
.nav-links i {
  padding-right: 10px;
}
.nav-links:hover {
  background-color: #01959a;
  color: white;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.nav-links-social {
  display: none;
}
button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
}

.menu-icons {
  visibility: hidden;
}
